



{% extends 'base.html' %}


{% block title %}

{% endblock title %}




{% block content %}
  {% load static %}


  <div class="row infinite-container mt-5  ">
	{% for obj in object_list %}

	<div class = 'news infinite-item p-3'>
<div class="col d-flex justify-content-center">

	<div class="card" style="width: 90rem;">
	  <img class="card-img-top" src="{{obj.picture.url}}" alt="Card image cap">
	  <div class="card-body">
	    <p class="card-text">
	    	<small class="text-muted">{{obj.tag}}</small>
			<h1>{{obj.title}}</h1>
			

			<br>
			{{obj.text}}
			<br>
		</p>

</div>


</div>

</div>
</div>
{% endfor %}
</div>
 			<div class="row">
                <div class="col-12">
                    {% if page_obj.has_next %}
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
                    {% endif %}
                    </span>
                </div>
            </div>





{% endblock content %}

{% block scripts %} 
<script src="{% static "js/jquery.waypoints.min.js" %}"></script>
    <script src="/static/js/infinite.min.js"></script>


        <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

            offset: 'bottom-in-view',

            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function () {
                $('.loading').hide();
            }

        });
    </script>








{% endblock scripts %}